.app-toast .toast-message {
  white-space: pre;
}

.app-toast-error .toast-wrapper {
  @extend .app-toast;
  background-color: map-get($colors, danger);
}

.app-toast-success .toast-wrapper {
  @extend .app-toast;
  background-color: map-get($colors, primary);
}
